.App {
  text-align: center;
}

.App-header {
  background-image: url('/Users/vigneshvars/Documents/Multiplayer-Tic-Tac-Toe-main/src/Assets/Background.jpeg');
  background-size: cover; /* Make sure the image covers the entire header */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  min-height: 100vh; /* Make sure the header takes up at least the full height of the viewport */
  width: 100vw; /* Make sure the header takes up the full width of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {

  padding: 20px;
  border-radius: 10px;
}

input {
  margin: 5px;
  padding: 8px;
  border-radius: 1000px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border-radius: 100px;
  background-color: #61dafb;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

.user{
  text-align:left;
}
.sig{
  margin-right: 10px;
}
.log{
  margin-right: 5px;
}
.Create{
  background-color: #14213d;
  color: white;
  font-size: 50px;
  width: 500px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.Join{
  background-color: #14213d;
  color: white;
  margin-top: 20px;
  font-size: 50px;

  width: 500px;
  height: 100px;
  border-radius: 10px;
}
.gameid{
  background-color: white;
  color: black;
}
.xoxapp{
  background-color: black;
  color: white;
  height: 100vh;
}
.xoxheader{
  font-size: 2rem;
  font-weight: 900;
  height: 8vh;
  border-bottom: 1px solid white;
}
.xoxalignCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.xoxboard{
  height: 92vh;
  font-size: 2rem;
  font-weight: 900;
}
.xoxrow{
  display: flex;
  height: 20vh;
}
.xoxcell{
  width: 25vw;
  border: 1px solid white;
  color: black;
  font-size: 6rem;
}
.yellow{
  background-color: yellow;
}
.orange{
  background-color: orange;
}
